/* You can add custom styles here. */

// @import "plugins/numbered";
a {
    text-decoration: none;
    color: #ff0000;
    font-weight: 600;
}
a.active {
    color: #ff0000;
    font-weight: 600;
  }

  .book-menu a {
    color: #ff0000;
    font-weight: 600;
  }

  .book-menu a.active {
    color: #ff0000;
    font-weight: 600;
  }

  .markdown a:visited {
    color: #ff0000;
    font-weight: 600;
  }

  h1
  {
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 10px;
    text-transform: uppercase;
    }
 
  h2
  {
    color: #FF0000;  
  }
  
  .markdown h1, h2 {
    font-weight: 600;
  }

  img[src$='#center']
  {
      display: block;
      margin: 0.7rem auto;
  }

  progress
  {
    width: 100%;
    height: 40px;
    accent-color: #FF0000; 
    text-align: center;
    color: black;
    font-weight: bold;
    position: relative;
    padding-top: 30px;
  }

  progress::before
  {
    content: attr(value) ' / ' attr(max);
  }

.hint {
  padding: 1rem 1.25rem;
  margin: 1rem 0;
  border-left: 6px solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.hint-info {
  border-left-color: rgb(0, 0, 255);
  background-color: rgba(0, 0, 255, 0.10);
}

.hint-success {
  border-left-color: rgb(0, 255, 0);
  background-color: rgba(0, 255, 0, 0.10);
}

.hint-warning {
  border-left-color: rgb(250, 135, 27);
  background-color: rgba(250, 135, 27, 0.10);
}

.hint-danger {
  border-left-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.10);
}

.hint-neutral {
  border-left-color: rgb(128, 128, 128);
  background-color: rgba(128, 128, 128, 0.10);
}

.hint-title {
  margin: 0 0 0.5rem 0;
}

.hint-body > :first-child { margin-top: 0; }
.hint-body > :last-child  { margin-bottom: 0; }
